<a href="https://colab.research.google.com/github/JDittes/Amazon_Vine_Analysis/blob/main/Vine_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [82.3 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [952 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,694 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [884 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,490 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,831 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [918 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,133 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,268 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [938 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [12.9 kB]
Get:29 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Get:30 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.3 kB]
Fetched 15.6 MB in 5s (2,874 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-04-09 20:17:05--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.08s

2022-04-09 20:17:06 (11.7 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Watches_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|    3653882|R3O9SGZBVQBV76|B00FALQ1ZC|     937001370|Invicta Women's 1...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Absolutely love t...| 2015-08-31|
|         US|   14661224| RKH8BNC3L5DLF|B00D3RGO20|     484010722|Kenneth Cole New ...|         Watches|          5|            0|          0|   N|                Y|I love thiswatch ...|I love this watch...| 2015-08-31|
|         US|   27324930|R2HLE8WKZSU3NL|B00DKYC7TK|     361166390|Ritche 22mm Black...|         Watches|          2|            1|          1|   N|                Y|           Two Stars|           Scratches| 2015-08-31|
|         US|    7211452|R31U3UH5AZ42LL|B000EQS1JW|     958035625|Citizen Men's BM8...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|It works well on ...| 2015-08-31|
|         US|   12733322|R2SV659OUJ945Y|B00A6GFD7S|     765328221|Orient ER27009B M...|         Watches|          4|            0|          0|   N|                Y|Beautiful face, b...|Beautiful watch f...| 2015-08-31|
|         US|    6576411| RA51CP8TR5A2L|B00EYSOSE8|     230493695|Casio Men's GW-94...|         Watches|          5|            0|          0|   N|                Y|       No complaints|i love this watch...| 2015-08-31|
|         US|   11811565| RB2Q7DLDN6TH6|B00WM0QA3M|     549298279|Fossil Women's ES...|         Watches|          5|            1|          1|   N|                Y|          Five Stars|for my wife and s...| 2015-08-31|
|         US|   49401598|R2RHFJV0UYBK3Y|B00A4EYBR0|     844009113|INFANTRY Mens Nig...|         Watches|          1|            1|          5|   N|                N|I was about to bu...|I was about to bu...| 2015-08-31|
|         US|   45925069|R2Z6JOQ94LFHEP|B00MAMPGGE|     263720892|G-Shock Men's Gre...|         Watches|          5|            1|          2|   N|                Y|      Perfect watch!|Watch is perfect....| 2015-08-31|
|         US|   44751341| RX27XIIWY5JPB|B004LBPB7Q|     124278407|Heiden Quad Watch...|         Watches|          4|            0|          0|   N|                Y|Great quality and...|Great quality and...| 2015-08-31|
|         US|    9962330|R15C7QEZT0LGZN|B00KGTVGKS|      28017857|Fossil Women's ES...|         Watches|          4|            2|          2|   N|                Y|           Satisfied|The watch was pre...| 2015-08-31|
|         US|   16097204|R361XSS37V0NCZ|B0039UT5OU|     685450910|Casio General Men...|         Watches|          1|            0|          0|   N|                N|I do not think th...|I bought this wat...| 2015-08-31|
|         US|   51330346| ROTNLALUAJAUB|B00MPF0XJQ|     767769082|2Tone Gold Silver...|         Watches|          3|            0|          0|   N|                Y|         Three Stars|It is a cheap wat...| 2015-08-31|
|         US|    4201739|R2DYX7QU6BGOHR|B003P1OHHS|     648595227|Bulova Men's 98B1...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Heavier than i th...| 2015-08-31|
|         US|   26339765| RWASY7FKI7QOT|B00R70YEOE|     457338020|Casio - G-Shock -...|         Watches|          5|            2|          3|   N|                Y|  Worth it - love it|Had it for severa...| 2015-08-31|
|         US|    2692576|R2KKYZIN3CCL21|B000FVE3BG|     824370661|Invicta Men's 332...|         Watches|          5|            0|          0|   N|                Y|This is when diff...|This one is diffe...| 2015-08-31|
|         US|   44713366|R22H4FGVD5O52O|B008X6JB12|     814431355|Seiko Women's SUT...|         Watches|          4|            1|          1|   N|                Y|Thewatch is attra...|The watch is attr...| 2015-08-31|
|         US|   32778769|R11UACZERCM4ZY|B0040UOFPW|     187700878|Anne Klein Women'...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|      said my wife..| 2015-08-31|
|         US|   27258523|R1AT8NQ38UQOL6|B00UR2R5UY|     594315262|Guess U13630G1 Me...|         Watches|          5|            0|          0|   N|                Y|          Five Stars|Nice watch, on ti...| 2015-08-31|
|         US|   42646538|R2NCZRQGIF1Q75|B00HFF57L0|     520810507|Nixon Men's Geo V...|         Watches|          4|            0|          0|   N|                Y|        Very stylish|Looks great and l...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [5]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://amz-book-revs.czwz82lmzz0z.us-east-2.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres", 
          "password": "1chMagBucher", 
          "driver":"org.postgresql.Driver"}

In [6]:
# Create the vine_table. DataFrame
vine_table = df.select('review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase')
vine_table.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3O9SGZBVQBV76|          5|            0|          0|   N|                Y|
| RKH8BNC3L5DLF|          5|            0|          0|   N|                Y|
|R2HLE8WKZSU3NL|          2|            1|          1|   N|                Y|
|R31U3UH5AZ42LL|          5|            0|          0|   N|                Y|
|R2SV659OUJ945Y|          4|            0|          0|   N|                Y|
| RA51CP8TR5A2L|          5|            0|          0|   N|                Y|
| RB2Q7DLDN6TH6|          5|            1|          1|   N|                Y|
|R2RHFJV0UYBK3Y|          1|            1|          5|   N|                N|
|R2Z6JOQ94LFHEP|          5|            1|          2|   N|                Y|
| RX27XIIWY5JPB|          4|            0|          0|   N|                Y|
|R15C7QEZT0LGZN|          4|            2|          2|   N|                Y|
|R361XSS37V0NCZ|          1|            0|          0|   N|                N|
| ROTNLALUAJAUB|          3|            0|          0|   N|                Y|
|R2DYX7QU6BGOHR|          5|            0|          0|   N|                Y|
| RWASY7FKI7QOT|          5|            2|          3|   N|                Y|
|R2KKYZIN3CCL21|          5|            0|          0|   N|                Y|
|R22H4FGVD5O52O|          4|            1|          1|   N|                Y|
|R11UACZERCM4ZY|          5|            0|          0|   N|                Y|
|R1AT8NQ38UQOL6|          5|            0|          0|   N|                Y|
|R2NCZRQGIF1Q75|          4|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [7]:
from pyspark.sql.types import IntegerType
total_votes_df = vine_table.withColumn('total_votes', vine_table['total_votes'].cast(IntegerType()))

In [8]:
total_votes_df = total_votes_df.withColumn('helpful_votes', total_votes_df['helpful_votes'].cast(IntegerType()))

In [9]:
total_votes_df.dropna()

DataFrame[review_id: string, star_rating: int, helpful_votes: int, total_votes: int, vine: string, verified_purchase: string]

In [10]:
from pyspark.sql.functions import col
total_votes_df = total_votes_df.filter(col('total_votes') >= 20)
total_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|
| R6F9VY91ADPLA|          1|            8|         30|   N|                N|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y|
|R2X8FZRUOS8R8C|          4|           25|         26|   N|                Y|
|R2D8IMBVX3XCLF|          1|           14|         20|   N|                Y|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y|
|R2TAFZNG4KHFQB|          4|           24|         24|   N|                Y|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y|
|R2MNPDWCA42I4G|          1|           17|         20|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [11]:
votes_div = total_votes_df['helpful_votes']/total_votes_df['total_votes']
total_votes_df = total_votes_df.withColumn('Ratio', votes_div)
total_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+-------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|              Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+-------------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|               0.95|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|               0.95|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|                1.0|
| R6F9VY91ADPLA|          1|            8|         30|   N|                N|0.26666666666666666|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y| 0.9459459459459459|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y| 0.8636363636363636|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y| 0.9642857142857143|
|R2X8FZRUOS8R8C|          4|           25|         26|   N|                Y| 0.9615384615384616|
|R2D8IMBVX3XCLF|          1|           14|         20|   N|                Y|                0.7|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y| 0.9259259259259259|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y| 0.9285714285714286|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N| 0.9795918367346939|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|               0.95|
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N| 0.9423076923076923|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y| 0.9642857142857143|
|R2TAFZNG4KHFQB|          4|           24|         24|   N|                Y|                1.0|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|                1.0|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N|  0.717391304347826|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y| 0.7916666666666666|
|R2MNPDWCA42I4G|          1|           17|         20|   N|                N|               0.85|
+--------------+-----------+-------------+-----------+----+-----------------+-------------------+
only showing top 20 rows

In [12]:
helpful_votes_df = total_votes_df.filter('Ratio >= 0.5')
helpful_votes_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|              0.95|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|              0.95|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|               1.0|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y|0.9459459459459459|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y|0.8636363636363636|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y|0.9642857142857143|
|R2X8FZRUOS8R8C|          4|           25|         26|   N|                Y|0.9615384615384616|
|R2D8IMBVX3XCLF|          1|           14|         20|   N|                Y|               0.7|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y|0.9259259259259259|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y|0.9285714285714286|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N|0.9795918367346939|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|              0.95|
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|0.9423076923076923|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y|0.9642857142857143|
|R2TAFZNG4KHFQB|          4|           24|         24|   N|                Y|               1.0|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|               1.0|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N| 0.717391304347826|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y|0.7916666666666666|
|R2MNPDWCA42I4G|          1|           17|         20|   N|                N|              0.85|
|R3F3KMKY26K620|          4|           25|         26|   N|                Y|0.9615384615384616|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [42]:
total_fives = helpful_votes_df.filter('star_rating == 5').count()
total_fives

4347

In [13]:
vine_yviews_df = helpful_votes_df.filter(col("vine").contains('Y'))
vine_yviews_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|0.9423076923076923|
|R2UUV4UGGYMQG8|          5|           34|         39|   Y|                N|0.8717948717948718|
| R9K0LZV2BK9YY|          4|           37|         39|   Y|                N|0.9487179487179487|
|R2OVFLNEUEGTJM|          3|           18|         25|   Y|                N|              0.72|
| RBE09ELJ77LQ0|          5|           44|         45|   Y|                N|0.9777777777777777|
|R3867T8AIJJHM6|          5|           26|         27|   Y|                N|0.9629629629629629|
|R1FNVUXPU63WOZ|          4|           43|         48|   Y|                N|0.8958333333333334|
|R25XGG2G12SE1Z|          4|           20|         23|   Y|                N|0.8695652173913043|
| R3JKU4HRDFZDH|          4|           27|         30|   Y|                N|               0.9|
|R2PQYOCJXRB1BF|          5|           26|         28|   Y|                N|0.9285714285714286|
|R1JBQ8UBLA8N4X|          4|          349|        370|   Y|                N|0.9432432432432433|
|R2I01ZYMO0GYP1|          4|          107|        121|   Y|                N|0.8842975206611571|
|R297GF8EF7AXPO|          2|           22|         30|   Y|                N|0.7333333333333333|
|R2OFG89WKPLHGU|          5|           54|         60|   Y|                N|               0.9|
|R13PI8O4697CEV|          4|          135|        144|   Y|                N|            0.9375|
|R223MX62JYWUOY|          4|           20|         21|   Y|                N|0.9523809523809523|
| RTSXZ0HZF623M|          3|           13|         22|   Y|                N|0.5909090909090909|
|R1OB4GCKEYGV9I|          4|           61|         90|   Y|                N|0.6777777777777778|
|R1YBNRRUD5WCG4|          5|           15|         20|   Y|                N|              0.75|
|R3L4Z6NK2Z4OV5|          2|           24|         33|   Y|                N|0.7272727272727273|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [14]:
vine_nviews_df = helpful_votes_df.filter(col("vine").contains('N'))
vine_nviews_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|              0.95|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|              0.95|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|               1.0|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y|0.9459459459459459|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y|0.8636363636363636|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y|0.9642857142857143|
|R2X8FZRUOS8R8C|          4|           25|         26|   N|                Y|0.9615384615384616|
|R2D8IMBVX3XCLF|          1|           14|         20|   N|                Y|               0.7|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y|0.9259259259259259|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y|0.9285714285714286|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N|0.9795918367346939|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|              0.95|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y|0.9642857142857143|
|R2TAFZNG4KHFQB|          4|           24|         24|   N|                Y|               1.0|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|               1.0|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N| 0.717391304347826|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y|0.7916666666666666|
|R2MNPDWCA42I4G|          1|           17|         20|   N|                N|              0.85|
|R3F3KMKY26K620|          4|           25|         26|   N|                Y|0.9615384615384616|
|R2PU32HT6X9DOM|          5|           23|         24|   N|                Y|0.9583333333333334|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [15]:
helpful_votes_df.agg({'total_votes': 'sum'}).show()
#https://www.geeksforgeeks.org/how-to-find-the-sum-of-particular-column-in-pyspark-dataframe/

+----------------+
|sum(total_votes)|
+----------------+
|          396475|
+----------------+

In [43]:
review_count = helpful_votes_df.count()
print(f'The total number of reviews is {review_count}')
print(f'The total number of 5-star reviews is {total_fives}')

The total number of reviews is 8409
The total number of 5-star reviews is 4347

In [24]:
vine_yviews_df.filter(col("star_rating").contains('5')).show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R1B7M0OP3UNP6O|          5|           49|         52|   Y|                N|0.9423076923076923|
|R2UUV4UGGYMQG8|          5|           34|         39|   Y|                N|0.8717948717948718|
| RBE09ELJ77LQ0|          5|           44|         45|   Y|                N|0.9777777777777777|
|R3867T8AIJJHM6|          5|           26|         27|   Y|                N|0.9629629629629629|
|R2PQYOCJXRB1BF|          5|           26|         28|   Y|                N|0.9285714285714286|
|R2OFG89WKPLHGU|          5|           54|         60|   Y|                N|               0.9|
|R1YBNRRUD5WCG4|          5|           15|         20|   Y|                N|              0.75|
|R33Y1P0VTKF46V|          5|           18|         22|   Y|                N|0.8181818181818182|
|R2VUWQQBXC9MW9|          5|           47|         51|   Y|                N|0.9215686274509803|
|R2PGKWCC0DJNO4|          5|           23|         24|   Y|                N|0.9583333333333334|
|R1VPI6UTL1K31V|          5|           27|         29|   Y|                N|0.9310344827586207|
| RMEMUGWUX63KU|          5|           34|         36|   Y|                N|0.9444444444444444|
|R3TZBND29248V0|          5|           66|         71|   Y|                N|0.9295774647887324|
| R5G8T9UNLDU5A|          5|           44|         44|   Y|                N|               1.0|
|R33HPSRJ5K3RHP|          5|           19|         22|   Y|                N|0.8636363636363636|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+

In [45]:
five_star_y = vine_yviews_df.filter(col("star_rating").contains('5'))
five_star_count = five_star_y.count()
five_star_count
pct_y = (five_star_count/total_fives) * 100
print(f'{pct_y} percent of 5-star reviews are from the Vine program')

0.3450655624568668 percent of 5-star reviews are from the Vine program

In [18]:
count_fives_df = vine_nviews_df.filter(col("star_rating").contains('5'))
count_fives_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             Ratio|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R14W2VCHHK5V7W|          5|           19|         20|   N|                Y|              0.95|
|R1S3T57O3OYT5S|          5|           19|         20|   N|                Y|              0.95|
|R1BTWIBLYYVOV7|          5|           30|         30|   N|                Y|               1.0|
|R3PXNV89DFIXKV|          5|           35|         37|   N|                Y|0.9459459459459459|
|R2ZF9NYVT3J7D6|          5|           19|         22|   N|                Y|0.8636363636363636|
|R20NYA5V0UF9NE|          5|           27|         28|   N|                Y|0.9642857142857143|
|R25UD9TA63L3Q8|          5|           25|         27|   N|                Y|0.9259259259259259|
|R2RB1HML8N712P|          5|           26|         28|   N|                Y|0.9285714285714286|
| ROXA8XP5EI2KK|          5|           48|         49|   N|                N|0.9795918367346939|
|R149IHTGGSRGX9|          5|           19|         20|   N|                Y|              0.95|
|R2N92CUM7WBA1A|          5|           27|         28|   N|                Y|0.9642857142857143|
| RNRFACS48ZE4A|          5|           21|         21|   N|                Y|               1.0|
|R2PO5QTLXJ9LHG|          5|           33|         46|   N|                N| 0.717391304347826|
|R38KDT041DRMIN|          5|           19|         24|   N|                Y|0.7916666666666666|
|R2PU32HT6X9DOM|          5|           23|         24|   N|                Y|0.9583333333333334|
|R1E96GHLGQ5H9D|          5|           22|         22|   N|                Y|               1.0|
|R33BKAVFS3HJ97|          5|           22|         23|   N|                N|0.9565217391304348|
| R3BFHNMC7PBKS|          5|           26|         28|   N|                Y|0.9285714285714286|
|R3G6S19I8AUY52|          5|           33|         36|   N|                Y|0.9166666666666666|
|R3DRNQOUII2XD0|          5|           40|         41|   N|                Y| 0.975609756097561|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [47]:
five_starn_count = count_fives_df.count()
five_starn_count
pct_n = (five_starn_count/total_fives) * 100
print(f'{pct_n} percent of 5-star reviews are NOT from the Vine program')

99.65493443754313 percent of 5-star reviews are NOT from the Vine program

In [19]:
count_fives_df.count()
print(f'There are {count_fives_df.count()} 5-star Reviews')

There are 4332 5-star Reviews

## Practice exporting to Pandas

In [20]:
counts_df = count_fives_df.toPandas()

In [21]:
counts_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Ratio
0,R14W2VCHHK5V7W,5,19,20,N,Y,0.950000
1,R1S3T57O3OYT5S,5,19,20,N,Y,0.950000
2,R1BTWIBLYYVOV7,5,30,30,N,Y,1.000000
3,R3PXNV89DFIXKV,5,35,37,N,Y,0.945946
4,R2ZF9NYVT3J7D6,5,19,22,N,Y,0.863636